In [53]:
import torch
import pandas as pd
from torch import nn
from sklearn.model_selection import train_test_split


from torch.utils.data import DataLoader

/Users/Arthur/opt/miniconda3/lib/python3.9/site-packages/scipy/__init__.py:138: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.3)
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion} is required for this version of "

In [48]:
df = pd.read_csv("for_pandas.csv")
df.fillna(0, inplace=True)

df = pd.get_dummies(data=df, columns=['ECO', 'Event', 'Termination', 'TimeControl', 'BlackTitle', 'WhiteTitle', 'Category', 'Weekday', 'destination'])

/Users/Arthur/opt/miniconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3194: DtypeWarning: Columns (10,11) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [49]:
df.apply(pd.to_numeric)

,Unnamed: 0,Index,move,Index.1,BlackElo,WhiteElo,king_moved,knight_moved,queen_moved,bishop_moved,...,destination_g7,destination_g8,destination_h1,destination_h2,destination_h3,destination_h4,destination_h5,destination_h6,destination_h7,destination_h8
0,1,0,1,124,906,971,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,2,124,906,971,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,0,3,124,906,971,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,4,124,906,971,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,0,5,124,906,971,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59895,59896,598,96,24794,1704,1780,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59896,59897,598,97,24794,1704,1780,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59897,59898,598,98,24794,1704,1780,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59898,59899,598,99,24794,1704,1780,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59899,59900,598,100,24794,1704,1780,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [50]:
df = df.drop(columns = ["Index", "move", "Index.1"])

n_examples = 599
n_steps = 100
n_features = df.shape[1]

In [51]:
labels_tensor = torch.tensor(df[["WhiteElo", "BlackElo"]].values)
df = df.drop(columns = ["WhiteElo", "BlackElo"])
features_tensor = torch.tensor(df.values)

features_tensor = features_tensor.reshape([n_examples, n_steps, n_features - 2])
labels_tensor =  labels_tensor.reshape([n_examples, n_steps, 2])

In [54]:
dataset = DataSet(features_tensor, labels_tensor)

NameError: name 'DataSet' is not defined